.message{
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    text-align: end;
    margin-right: 100px;
}
.messageContainer{
    width: 800px;
    border-left: 1px solid cornflowerblue;
    margin-left: 200px;
}
.inp input{
    width: 700px;
    padding: 0 20px;
    margin-bottom: 10px;
    background: #c8e7ff;
    line-height: 30px;
    border: 1px solid cornflowerblue;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
}

.inp:focus {
    outline: #c8e7ff;
}

.like {
    margin-left: 150px;
}

.inp button {
    background-color: #c8e7ff;
    color: black;
    padding: 5px 20px;
    border: 1px solid cornflowerblue;
    border-radius: 8px;
    cursor: pointer;
}

.inp button:hover {/* Green */
    color: white;
}

.str {
    padding: 20px;
    margin-left: 50px;
}

.message img {
    height: 40px;
    width: 40px;
}