.selectorContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.selectorContainer button{
    border: none;
    background-color: snow;
    font-weight: bold;
    color: cornflowerblue;
    margin-top: 7px;
}
.selectorContainer button:disabled{
    color: snow;
}
.selector{
    color: cornflowerblue;
}

.selectedPages {
    font-weight: bold;
    color: darkblue;
}

.usersContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    box-shadow: 2px 1px 4px 0 rgb(52 50 50 / 75%);
    border-radius: 20px;
    background-color: snow;
}
.users {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 80vh;
    width: 100%;
    align-items: stretch;
    align-content: space-around;
    justify-content: space-evenly;

}