.selectorContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.selectorContainer button{
    border: none;
    background: white;
    font-weight: bold;
    color: cornflowerblue;
    text-align: center;

}
.selectorContainer button:disabled{
    color: white;
}
.selector{
    color: cornflowerblue;
}

.selectedPages {
    font-weight: bold;
    color: darkblue;
}

.usersContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    width: 90%;
    text-align: center;
    margin: 0 auto;
}
.users {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 87vh;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
}