.inp input{

    width: 1080px;
    padding: 0 20px;
    margin-bottom: 10px;
    background: #E9EFF6;
    line-height: 30px;
    border: 1px solid lightblue;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
}
.inp:focus{
    outline: none;
}
.infoUserContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 30vh;
    width: 80%;
}
.infoUser{
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 10%;
}