.inp input{
    margin-right: 20px;
    margin-left: 50px;
    width: 60%;
    padding: 0 20px;
    margin-bottom: 10px;
    background: #c8e7ff;
    line-height: 30px;
    border: 1px solid cornflowerblue;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
}
.inp button {
    background-color: #c8e7ff;
    color: black;
    padding: 5px 20px;
    border: 1px solid cornflowerblue;
    border-radius: 8px;
    cursor: pointer;
}

.inp button:hover {/* Green */
    color: white;
}
.inp:focus{
    outline: none;
}
.infoUserContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 30vh;
    width: 80%;
}
.infoUser{
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 10%;
}