.App {
    display: grid;
    grid-template-areas:
    'h h '
    'n  c';
    grid-template-rows: 60px 0fr;
    grid-template-columns: 2fr 10fr;
}

.Header {
    grid-area: h;
    background-color:#8ebfff;
}
.Header img{
    width: 70px;
}

.NavLin {
    text-align: center;
    height: 600px;
    width: 100%;
    background-color:#eaf4ff;
    grid-area: n;
}
.NavLinContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 200px;
}
.profile img{
    height: 200px;
    width: 100%;
}

.Content {
    grid-area: c;
}
.Routes{
    background-color: red;
}