.App {
    display: grid;
    grid-template-areas:
    'h h'
    'n c';
    grid-template-rows: 60px 0fr;
    grid-template-columns: 2fr 10fr;
}

.Header {
    grid-area: h;
    background-color:#8ebfff;
}
.Header img{
    width: 70px;
}

.NavLin {
    padding: 20px;
    height: 600px;
    width: 150px;
    background-color:#eaf4ff;
    grid-area: n;
}
.profile img{
    height: 200px;
    width: 1160px;
}

.Content {
    grid-area: c;
}