.loginLink{
    float: right;
}
.loginUser {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.loginUser img {
    width: 60px;
}
.loginInfo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
